{% extends 'base.html' %} 
{% load static %} 
{% block title %}
<link rel="stylesheet" href="{% static 'css/cats/cat-index.css' %}"/>
{% endblock %}
{% block content %}

<section class="page-header">
  
</section>

<section class="card-container">
  {% for cat in musicians %}
    <div class="card">
      <a href="/musicians/{{cat.id}}" >
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/sk8r-boi-cat.svg' %}"
              alt="A skater boy cat"
            />
          </div>
          <h2 class="card-title">{{ cat.name }}</h2>
          {% if cat.age > 0 %}
          <p>A {{ cat.age }} year old</p>
          {% endif %}
          <p><small>{{ cat.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}